
#menu{
    background-color:goldenrod ;
    /* border:3px;
    color: black;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: medium;
    margin: auto;
    cursor: pointer;
    outline: 2px solid black; */


}